html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*END CSS RESET */

header{
    background: url(img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
}

#top-nav .left-panel{
    float:left;
}
#top-nav .right-panel{
    float:right;
}
#top-nav .left-panel:after,#top-nav .right-panel:after{
    display: block;
    content:"";
    clear:both;
}
#top-nav .left-panel div{
    display: inline-block;
}
#top-nav .left-panel .tag-line{
    position: relative;
    top:-20px;
    color:#ffffff;
    font-size:81.25%;
    padding: 0px 15px;
}
#top-nav .right-panel span,#top-nav .right-panel div{
    display: inline-block;
}
#top-nav .right-panel{
    color:#ffffff;
    font-size: 81.25%;
    position: relative;
    top: 14px;
 }
#top-nav .right-panel h4{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#top-nav .right-panel .contact{
    padding-left:5px;
}
#top-nav .right-panel .num{
    color:#b2d234;
}
#top-nav .right-panel span.fa-phone{
    font-size:180%;
    position: relative;
    top:-10px;
}
nav{
    padding: 20px 50px;
    border-bottom: 1px solid #a7a7a7;
    border-top: 1px solid #a7a7a7;
    margin-top: -2px;
}
nav ul li {
    display: inline-block;
    margin-right: 55px;
}
nav ul li:last-child{
    margin-right: 0px;
}
nav ul li.active a{
    border-bottom: 4px solid #b2d234;
    padding-bottom: 15px;
    color:#b2d234;
    font-weight: bold;
}
nav ul li a{
    font-size: 87.5%;
    text-transform: uppercase;
    color:#ffffff;
}
#banner{
    text-align: center;
    padding: 130px 0px 140px 0px;
}
#banner h2{
    text-transform: uppercase;
    font-size: 437.5%;
    color:#ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
}
#banner p{
    color:#ffffff;
    font-size:125%;
    margin-bottom: 70px;
}
#banner a{
    display: inline-block;
    padding: 18px 52px;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    background:#b2d234;
}

#about-us{
    padding: 110px 0px;
}
#about-us h1{
    font-size: 312.5%;
    text-transform: uppercase;
    color:#30282a;
}
#about-us p{
    margin-top:30px;
    font-size: 112.5%;
    color:#555555;
    line-height: 
}
#about-us a{
    display: inline-block;
    padding:20px 65px;
    margin-top:110px; 
    color:#ffffff;
    background:#b2d234;
    text-transform: uppercase;
}
#about-us .about-us-banner{
    max-width:100%;
    width:5000px;
}
#satisfied-customer{
    padding:55px 0 50px 0;
    text-align: center;
    background: url(img/counter-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
#satisfied-customer h2{
    margin: 10px 0 15px 0;
    color:#ffffff;
    font-size:500%;
}
#satisfied-customer p{
    color:#ffffff;
}
#services{
    background:#f7f7f7;
    padding: 140px 0 130px 0;
}
#services .services--header, #blogs .blog--header{
    color:#30282a;
    font-size: 312.5%;
    text-transform: uppercase;
}
#services .service{
    margin-top: 55px;
}
#services .service h3{
    color: #30282a;
    text-transform: uppercase;
    font-size: 156.25%;
    margin: 20px 0 30px 0;
}
#services p{
    color:#555555;
    line-height: 20px;
}
#blogs{
    background: url(img/blog-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 130px 0 60px 0;
}
#blogs .blog{
    margin-top: 60px;
    text-align: center;
}
#blogs .blog img{
    width:100%;
}
#blogs .blog h4{
    color:#b2d234;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#blogs .blog h3{
    color:#30282a;
    text-transform: uppercase;
    font-size: 156.25%;
    margin-bottom: 30px;
}
#blogs .blog p{
    color:#555555;
    line-height: 20px;
    margin-bottom: 30px;
}
#blogs .blog a{
    display: inline-block;
    padding: 15px 70px;
    border: 2px solid #30282a; 
    color:#30282a;
    font-size:93.75%;
    text-transform: uppercase;
}
#blogs .blog--desc{
    background: #ffffff;
    padding: 50px 30px 65px 30px;
}
#blogs .view-all{
    text-align: center;
    margin-top: 55px;
}
#blogs .view-all a{
    display: inline-block;
    color:#30282a;
    text-transform: uppercase;
    border-bottom: 4px solid #30282a;
    padding-bottom: 10px;
    text-decoration: none;
}
#testimonial{
    padding: 65px 0 30px 0;
}
#testimonial .rating{
    text-align: center;
}
#testimonial .rating span{
    color:#f8ef24;
    font-size:150%;
    margin-right: 10px;
}
#testimonial .navigations{
    text-align: center;
}
#testimonial .navigations a{   
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #d2d2d2;
    margin-right: 10px;
}
#testimonial .navigations a.active{
    background: #202020;
}
#testimonial .quote p{
    text-align: center;
}
#testimonial .quote img{
    margin-left: 255px;
    position: relative;
    top:10px;
}
#testimonial .quote{
    margin-bottom: 30px;
}
#testimonial .quote p.said{
    color:#202020;
    font-size:125%;
    margin-bottom: 25px;
}
#testimonial .quote p.who{
    text-transform: uppercase;
    color:#202020;
    font-size:  112.5%;
}
#customer{
    padding: 30px 0 50px 0;
}
#customer img{
    border: 1px solid #d0d0d0;
    margin-top: 35px;
}
#customer h2{
    font-size:93.75%;
    color:#202020;
    text-align: center;
    margin-top: 20px;
}

