html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*END CSS RESET */

header{
    background: url(img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
}

#top-nav .left-panel{
    float:left;
}
#top-nav .right-panel{
    float:right;
}
#top-nav .left-panel:after,#top-nav .right-panel:after{
    display: block;
    content:"";
    clear:both;
}
#top-nav .left-panel div{
    display: inline-block;
}
#top-nav .left-panel .tag-line{
    position: relative;
    top:-20px;
    color:#ffffff;
    font-size:81.25%;
    padding: 0px 15px;
}
#top-nav .right-panel span,#top-nav .right-panel div{
    display: inline-block;
}
#top-nav .right-panel{
    color:#ffffff;
    font-size: 81.25%;
    position: relative;
    top: 14px;
 }
#top-nav .right-panel h4{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#top-nav .right-panel .contact{
    padding-left:5px;
}
#top-nav .right-panel .num{
    color:#b2d234;
}
#top-nav .right-panel span.fa-phone{
    font-size:180%;
    position: relative;
    top:-10px;
}
nav{
    padding: 20px 50px;
    border-bottom: 1px solid #a7a7a7;
    border-top: 1px solid #a7a7a7;
    margin-top: -2px;
}
nav ul li {
    display: inline-block;
    margin-right: 60px;
}
nav ul li:last-child{
    margin-right: 0px;
}
nav ul li.active a{
    border-bottom: 4px solid #b2d234;
    padding-bottom: 15px;
    color:#b2d234;
    font-weight: bold;
}
nav ul li a{
    font-size: 87.5%;
    text-transform: uppercase;
    color:#ffffff;
}
#banner{
    text-align: center;
    padding: 130px 0px 140px 0px;
}
#banner h2{
    text-transform: uppercase;
    font-size: 437.5%;
    color:#ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
}
#banner p{
    color:#ffffff;
    font-size:125%;
    margin-bottom: 70px;
}
#banner a{
    display: inline-block;
    padding: 18px 52px;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    background:#b2d234;
}

#about-us{
    padding: 110px 0px;
}
#about-us h1{
    font-size: 312.5%;
    text-transform: uppercase;
    color:#30282a;
}
#about-us p{
    margin-top:30px;
    font-size: 112.5%;
    color:#555555;
    line-height:
}
#about-us a{
    display: inline-block;
    padding:20px 65px;
    margin-top:110px;
    color:#ffffff;
    background:#b2d234;
    text-transform: uppercase;
}
#about-us .about-us-banner{
    max-width:100%;
    width:5000px;
}
#satisfied-customer{
    padding:55px 0 50px 0;
    text-align: center;
    background: url(img/counter-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
#satisfied-customer h2{
    margin: 10px 0 15px 0;
    color:#ffffff;
    font-size:500%;
}
#satisfied-customer p{
    color:#ffffff;
}
#services{
    background:#f7f7f7;
    padding: 140px 0 130px 0;
}
#services .services--header, #blogs .blog--header{
    color:#30282a;
    font-size: 312.5%;
    text-transform: uppercase;
}
#services .service{
    margin-top: 55px;
}
#services .service h3{
    color: #30282a;
    text-transform: uppercase;
    font-size: 156.25%;
    margin: 20px 0 30px 0;
}
#services p{
    color:#555555;
    line-height: 20px;
}
#blogs{
    background: url(img/blog-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 130px 0 60px 0;
}
#blogs .blog{
    margin-top: 60px;
    text-align: center;
}
#blogs .blog img{
    width:100%;
}
#blogs .blog h4{
    color:#b2d234;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#blogs .blog h3{
    color:#30282a;
    text-transform: uppercase;
    font-size: 156.25%;
    margin-bottom: 30px;
}
#blogs .blog p{
    color:#555555;
    line-height: 20px;
    margin-bottom: 30px;
}
#blogs .blog a{
    display: inline-block;
    padding: 15px 70px;
    border: 2px solid #30282a;
    color:#30282a;
    font-size:93.75%;
    text-transform: uppercase;
}
#blogs .blog--desc{
    background: #ffffff;
    padding: 50px 30px 65px 30px;
}
#blogs .view-all{
    text-align: center;
    margin-top: 55px;
}
#blogs .view-all a{
    display: inline-block;
    color:#30282a;
    text-transform: uppercase;
    border-bottom: 4px solid #30282a;
    padding-bottom: 10px;
    text-decoration: none;
}
#testimonial{
    padding: 65px 0 30px 0;
}
#testimonial .rating{
    text-align: center;
}
#testimonial .rating span{
    color:#f8ef24;
    font-size:150%;
    margin-right: 10px;
}
#testimonial .navigations{
    text-align: center;
}
#testimonial .navigations a{
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #d2d2d2;
    margin-right: 10px;
}
#testimonial .navigations a.active{
    background: #202020;
}
#testimonial .quote p{
    text-align: center;
}
#testimonial .quote img{
    margin-left: 255px;
    position: relative;
    top:10px;
}
#testimonial .quote{
    margin-bottom: 30px;
}
#testimonial .quote p.said{
    color:#202020;
    font-size:125%;
    margin-bottom: 25px;
}
#testimonial .quote p.who{
    text-transform: uppercase;
    color:#202020;
    font-size:  112.5%;
}
#customer{
    padding: 30px 0 50px 0;
}
#customer img{
    border: 1px solid #d0d0d0;
    margin-top: 35px;
}
#customer h2{
    font-size:93.75%;
    color:#202020;
    text-align: center;
    margin-top: 20px;
}
#contact{
    background: url(img/map-bg.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 140px 0 140px 0;
}
.contact--container{
    padding: 30px 70px;
    width:570px;
    margin: 0 auto;
    text-align: center;
    background:#b2d234;
    color:#ffffff;
    font-size: 125%;
}
#contact .location{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
}
#contact .phone{
    margin-bottom: 20px;
}
#contact .location img,#contact .phone img, #contact .email img{
    margin-bottom: 10px;
}
#stay-connected{
    background: #fafafa;
}
#stay-connected .stay-connected--banner{
    padding: 55px 0 50px 0;
}
#stay-connected .stay-connected--banner h1{
    color:#30282a;
    font-size: 312.5%;
    text-transform: uppercase;
}
#stay-connected .stay-connected--banner p{
    margin: 30px 0;
    color:#555555;
    font-size: 112.5%;
    line-height: 25px;
}
#stay-connected .stay-connected--banner input,#stay-connected .stay-connected--banner button{
    height: 45px;
}
#stay-connected .stay-connected--banner input{
    width: 348px;
    border:1px solid #e5e5e5;
    background: #fff;
}
#stay-connected .stay-connected--banner button{
    background: #b2d234;
    border: none;
    text-transform: uppercase;
    color:#fff;
    font-size: 93.75%;
    font-weight: bold;
    padding: 0px 30px;
    position: relative;
    left:-5px;
}
.stay-conected--twitter,.stay-conected--fb{
    padding: 155px 0 150px 0;
}
.stay-conected--fb{
    background: #b2d234;
    color:#fff;
}
.stay-conected--fb span,.stay-conected--twitter span{
    font-size: 300%;
    margin-right:15px;
}
.stay-conected--fb h2, .stay-conected--twitter h2{
    font-size: 156.25%;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    top: -20px;
}
.stay-conected--fb p{
    position: relative;
    top: -25px;
    left: 46px;
}
.stay-conected--twitter p{
    position: relative;
    top: -25px;
    left: 65px;
}
.fb--container,.twitter--container{
    max-width:80%;
    margin: 0 auto;
}

.stay-conected--twitter{
    background: #202020;
    color:#fff;
}
#footer{
    padding: 65px 0 0 0;
}
.footer--about h2{
    color:#30282a;
    font-size: 93.75%;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}
.footer--about p{
    color:#555555;
    font-size:87.5%;
    line-height: 20px;
}
.footer--links h2, .social h2,.contact-us h2{
    text-transform: uppercase;
    color:#30282a;
    font-size: 93.75%;
    margin-bottom: 30px;
    font-weight: bold;
}
.footer--links a{
    display: block;
    color:#555555;
    font-size: 87.5%;
    margin-bottom: 20px;
}
.social a{
    display: block;
    color:#555555;
    font-size: 87.5%;
    margin-bottom: 20px;
}
.social span{
    color:#828282;
    font-size: 125%;
    width:30px;
}
.contact-us span:not(.contact-us--address){
    color: #828282;
    width: 30px;
    font-size:150%;
}
.contact-us p{
    color:#828282;
    margin-top:20px;
    font-size:81.25%;
}
.contact-us--address{
    position: relative;
    left:30px;
}
#footer .container{
    border-bottom:1px solid #ebebeb;
    padding-bottom: 40px;
}
#last-footer{
    padding: 40px 0 50px 0;
}
.last-footer--left{
    float:left;
}
.last-footer--right{
    float: right;
}
.last-footer--left p{
    display: inline;
    margin-right: 20px;
    color:#828282;
}
.last-footer--left p span{
    color:#95c449;
    font-weight: bold;
    font-weight: 75%;
}
.last-footer--left a{
    color:#828282;
    font-weight: 75%;
}
.last-footer--right p{
    color:#828282;
}
.last-footer--right p span.footer-logo{
    position: relative;
    top:5px;
}
.printing-main--header{
    padding: 86px 0 60px 0;
}
.printing-main--header h1{
    color:#b2d234;
    font-size:375%;
    display: inline-block;
    position: relative;
    top:-20px;
    text-transform: uppercase;
}
.printing-main--header span{
    font-size: 200%;
    color:#b2d234;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.print-1{
    background: url(img/printing-1.jpg) no-repeat center center ;
    background-size: cover;
    padding: 327px 0 123px 0;
    text-align: center;
}
.print-2{
    background: url(img/printing-2.jpg) no-repeat center center;
    background-size: cover;
    padding: 327px 0 123px 0;
    text-align: center;
}
.print-3{
    background: url(img/printing-3.jpg) no-repeat center center;
    background-size: cover;
    padding: 327px 0 123px 0;
    text-align: center;
}
.print-1 h2, .print-2, .print-3{
    color:#fff;
    text-transform: uppercase;
    font-size: 250%;
}
#printing-description{
  padding: 60px 0 70px 0;
}
#printing-description p{
  color:#555555;
  font-size: 112.5%;
  margin-bottom: 40px;
}
#printing-description p:last-child{
  margin-bottom: none;
  font-style: italic;
}
#sign-banners--banner{
  background: url(img/sign-banner-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 511px;
}
#pages-header{
  background:none;
  background-color: #202020;
}
#sign-banners--main{
  padding: 85px 0;
}
#sign-banners--main h1{
  display: inline-block;
  color:#b2d234;
  text-transform: uppercase;
  font-size: 375%;
  padding-left: 20px;
}
#sign-banners--main span{
  color:#b2d234;
  font-size: 375%;
  margin-bottom: 60px;
}
#sign-banners--main p , #sign-banners--main li{
  color:#555555;
  font-size: 112.5%;
}
#sign-banners--main .list{
  padding: 80px 0;
}
#sign-banners--main .list li{
  margin-bottom: 20px;
  list-style: none;
  position: relative;
  padding-left:20px;
}
#sign-banners--main li:before{
  position: absolute;
  display: block;
  content: '';
  top:3px;
  left:0px;
  width: 10px;
  height: 10px;
  background-color: #b2d234;
}
.aboutUs__header_heading,.tradeshow__header, .directMail__header,.contact_header,.promotional__header,.specialty__header ,.marketing__header,.design__header,.storefront__header,.digital__header{
    padding: 90px 0 50px 0;
}
.aboutUs__header_heading .fa-commenting,.tradeshow__header .fa-archive,.directMail__header .fa-envelope-o, .marketing__header .fa-heart-o,.specialty__header .fa-file-image-o,.promotional__header .fa-futbol-o,.design__header .fa-desktop,.digital__header .fa-print,.storefront__header .fa-heart-o{
    color:#b2d234; 
    font-size: 375%;
    vertical-align: top;
}
.aboutUs__header--bold,.tradeshow--bold, .directMail__header .directMail--bold, .contact--bold,.marketing__header .marketing--bold, .specialty__header .specialty--bold,.promotional__header .promotional--bold,.design__header .design--bold, .digital__header .design--bold,
.storefront__header .storefront--bold,.four04_page--bold,.five05_page--bold{
    text-transform: uppercase;
    color:#b2d234;
    font-size: 375%;
    display: inline-block;
    margin-left: 20px;
}
.four04_page--bold,.five05_page--bold{
    margin-left: 0px;
    margin-bottom: 55px;
}
.marketing--indivbanner-1, .marketing--indivbanner-2{
    padding: 326px 50px 35px 100px;
    background-size: cover;
}
.marketing--indivbanner-2{
    background: url(img/marketing--indivbanner-2.jpg) no-repeat center center;
}
.marketing--indivbanner-1{
    background: url(img/marketing--indivbanner-1.jpg) no-repeat center center;
}
.marketing__banner--header{
    font-size: 250%;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 30px;    
}
.marketing__banner--body{
    color:#fff;
    line-height: 120%;
    font-size: 112.5%;
}
.marketing__body{
    padding: 50px 0 50px 0;
}
.marketing__body--description{
    margin-top:50px;
    font-size: 112.5%;
    color:#555555;
    line-height: 120%;  
}
.design_items--description{
    margin-bottom: 50px;
}
.design_items--description, .design__items--item{
    color: #555555;
    line-height: 120%;
    font-size: 112.5%;
}
.design__items--list{
    list-style: none;
    margin-left: 50px;
}
.design__items--item{
    position: relative;
    margin-bottom: 25px;
}
.design__items--item:before, .directMail__content--item:before{
    position: absolute;
    content:"";
    display: block;
    width:9px;
    height: 9px;
    background-color:#b2d234;
    left:-20px;
    top:5px;
}
.design__works--header{
    text-transform: uppercase;
    font-size: 156.25%;
    color:#555555;
    display: inline-block;
}
.design__navigation_block{
    border-top:1px solid #a7a7a7;
    padding-top:25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigation--block{
    display: inline-block;
    margin-left:100px;
}
.design__works--nav-item{
    color:#555555;
    text-transform: uppercase;
    font-size: 100%;
    margin-right: 70px;
}
.nav-item_active{
    color:#b2d234;
    padding-bottom: 10px;
    border-bottom: 3px solid #b2d234;
}
div[class^="design__works--item-"],div[class*=" design__works--item-"]{    
    background-size: cover;
    padding: 170px 30px 160px 30px;
    min-height: 500px;
    position: relative;
    z-index: 1;
}
.item--header{
    font-size: 187.5%;
    color:#ffffff;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px solid #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.item--description{
    color:#ffffff;
    font-size: 93.75%;
    line-height: 120%;
}
.item--description span{
    display: block;
    margin-top:25px;
}
.design__works--item-1:before{
    position: absolute;
    content:"";
    bottom:0px;
    left:0px;
    display: block;
    background:rgba(161,192,40,.9);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.design__works--item-1{    
    background: url(img/design__works--item-1.png) no-repeat center center;
}
.design__works--item-2{    
    background: url(img/design__works--item-2.png) no-repeat center center;
}
.design__works--item-3{    
    background: url(img/design__works--item-3.png) no-repeat center center;
}
.design__works--item-4{    
    background: url(img/design__works--item-4.jpg) no-repeat center center;
}
.design__works--item-5{    
    background: url(img/design__works--item-5.png) no-repeat center center;
}
.design__works--item-6{    
    background: url(img/design__works--item-6.png) no-repeat center center;
}
.design__works--item-7{    
    background: url(img/design__works--item-1.jpg) no-repeat center center;
}
.design__works--item-8{    
    background: url(img/design__works--item-8.png) no-repeat center center;
}
.design__works--item-9{    
    background: url(img/design__works--item-9.png) no-repeat center center;
}
.design__works--item-10{    
    background: url(img/design__works--item-10.png) no-repeat center center;
}
.design__works--item-11{    
    background: url(img/design__works--item-11.png) no-repeat center center;
}
.design__works--item-12{    
    background: url(img/design__works--item-12.jpg) no-repeat center center;
}
.load-more{
    padding: 100px 0 100px 0;
    text-align: center;
}
.load-more--button{
    font-size: 81.25%;
    color:#b2d234;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    border:1px solid #b2d234;
    display: inline-block;
}
.storefront__banner .col-md-6{
    padding: 0px;
}
.storefront__body--text, .storefront__body--item{
    font-size: 112.5%;
    color:#555555;
}
.storefront__body--text{
    line-height: 120%;
}
.storefront__body{
    padding: 100px 0 80px 0;
}
.storefront__body--text{
    margin-bottom: 40px;
}
.storefront__body--items{
    margin-top: 30px;
}
.storefront__body--items{
    list-style: none;
    margin-left: 70px;
}
.storefront__body--item{
    position: relative;
    margin-bottom: 25px;
}
.storefront__body--item:before{
    position: absolute;
    display: block;
    content:"";
    width: 10px;
    height: 10px;
    background-color: #b2d234;
    left:-20px;
    top:2px;
}
.contact--bold{
    margin-left: 0px;
}
.contact_options .col-md-4{
    margin-right:2%;
    width: 32%;
}
.contact_options .col-md-4:last-child{
    margin-right: 0%;
}
.contact_options{
    margin-bottom: 70px;
}
.contact_option{
    border-top: 5px solid #b2d234;
    padding-top:30px;
}
.contact_option .fa{    
    color:#b2d234;
    font-size:250%;
    height: 85px;
    width: 20%;
    float: left;
    font-weight: bold;
}
.contact_option--container{
    width: 80%;
    float: left;
}
.contact_option--header{
    font-size:112.5%;
    color:#555555;
    margin-bottom: 20px;
}
.contact_option--details{
    font-size: 93.75%;
    color:#787878;
    line-height: 150%;
}
.contact_form{
    margin-bottom: 50px;
}
.contact_form input[type='text'],.contact_form input[type='email'],.contact_form textarea{
    background: #f5f5f5;
    border:none;
    border-radius: 0px;
    height: 40px;
    margin-bottom: 20px;
}
.contact_form textarea{
    height: 223px;
}
.contact_form input[type='submit']{
    padding: 15px 30px;
    background:#b2d234;
    color:#ffffff;
    font-size: 93.75%;
    text-transform: uppercase;
    border:none;
    float:right;
}
.contact_map{
    background: url(img/map.jpg) no-repeat center center;
    background-size: cover;
    padding: 83px 0 175px 0;
}
.map_container{
    text-align: center;
}
.contact_map address{
    color:#ffffff;
    background:#a5d30c;
    padding: 20px;
    display: inline-block;
    text-align: center;
}
.address_nav{
    background-color: #202020;
}
.address_nav-active{
    background-color: #b2d234;
}
.contact_address{
    text-align: center;
    padding: 25px 0px;
    font-size: 112.5%;
    text-transform: uppercase;
    color:#fff;
}
#digital_content{
    margin-bottom: 50px;
}
.digital_content--description{
    color:#555555;
    font-size: 112.5%;
    line-height: 120%;
    margin-bottom: 50px; 
}
.digital_products--header{
    font-weight: bold;
}
.digital_products--header, .digital_products--item{
    font-size: 112.5%;
    color:#555555;
}
.digital_products--item{
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    margin-left:20px;
}
.digital_products--item:before{
    content:'';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    background-color: #b2d234;
    left:-20px;
    top:3px;
}
/*
    PROMOTIONAL PAGE style
*/
#promotional_banner{
    background:url(img/promotional-banner.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 145px 0 145px 0;
}
.promotional_banner--header{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 343.75%;
    padding: 40px 15px;
    line-height: 125%;
    border: 7px solid #fff;
    display: inline-block;
}
.aboutUs__content--intro{
    margin-bottom: 50px;
}
.aboutUs__content--intro,.tradeshow__content--intro,.four04_page--intro,.directMail__content--intro,.promotional_productsIntro,.promotional_products--header,
.promotional_products--item,.promotional_productsAdvantage--item, .five05_page--intro{
    color:#555555;
    font-size: 112.5%;
    line-height: 150%;
}
.four04_page--intro,.five05_page--intro,.tradeshow__content--intro,.directMail__content--intro,.promotional_productsIntro, .promotional_products--header,.promotional_products{
    margin-bottom: 50px;
}
.tradeshow__content--item,.directMail__content--item,.promotional_products--item, .promotional_productsAdvantage--item{
    list-style: none;
    margin-bottom: 25px;
    position: relative;
}
.promotional_products--items{
    width: 24%;
    display: inline-block;
    margin-left: 45px;
}
.promotional_productsAdvantage--items{
    margin-left: 45px;
}
.tradeshow__content--item:before,.promotional_productsAdvantage--item:before,.promotional_products--item:before{
    position: absolute;
    content: '';
    display: block;
    height: 10px;
    width:10px;
    background-color: #b2d234;
    left:-20px;
    top:8px;
}
#specialty_banner{
    background: url(img/specialty-banner.jpg) no-repeat center center;
    background-size: cover;
    padding: 250px 0;
}
.specialty__items, .aboutUs__items{
    margin-left:70px;
}
.specialty__item,.aboutUs__item{
    color:#555555;
    font-size: 112.5%;
    margin-bottom: 25px;
    list-style-type: none;
    position: relative;
}
.specialty__item:before, .aboutUs__item:before{
    position: absolute;
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #b2d234;
    left: -20px;
    top:3px;
}

#directMail__banner{
    background: url(img/direct-mail-banner.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}
#tradeshow__banner{
    background: url(img/tradeshow-banner.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}
.directMail__content--items,.tradeshow__content--items{
    margin-left: 45px;
}
.directMail__content--item:before,.tradeshow__content--item:before{
    top:3px;
}
.tradeshow__content--item,.directMail__content--item{
    color:#555555;
    font-size: 112.5%;
}
#four04_page,#five05_page{
    padding-top: 85px;
}

#aboutUs__banner{
    background: url(img/about-us-banner.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}
.aboutUs__header_nav{
    padding: 18px 0;
    background:#fafafa;
}
.aboutUs__header-menu{
    font-size: 87.5%;
    color:#636363;
    position: relative;
    margin-right:35px;
}
.aboutUs__header-menu:first-child:before{
    display: none;
}
.aboutUs__header-menu:before{
    position: absolute;
    left:-25px;
    display: inline-block;
    content: '>>';
    font-weight: bold;
    color:#30282a;
    top:2px;

}
.aboutUs__header-menu--active{
    border-bottom: 2px solid #b2d234;
    color:#b2d234;
}
.blogs-all__header--heading,.blog__header--heading{
    font-size: 375%;
    color:#b2d234;
    text-transform: uppercase;
    padding: 90px 0 70px 0;
}
.blog__header--heading{
    padding-bottom: 35px;
}
.blog__header--description{
    font-style: italic;
    color:#555555;
    font-size: 112.5%;
    margin-bottom: 15px;
}
.blogs__item{
    padding: 55px 0px;
    border-bottom: 1px solid #ebebeb;
}
.no-paddingTop{
    padding-top: 0px;
}
.blogs__item--heading{
    font-size:250%;
    color:#b2d234;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
}
.blogs_author,.blogs_published,.blogs_categories{
    display: inline-block;
    font-size: 93.75%;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
}
.blogs_author, .blogs_published{
    color:#555555;
}
.blogs_author span, .blogs_categories{
    font-weight: bold;
    color: #b2d234;
}
.blog__banner{
    width: 100%;
}
.blogs_published, .blogs_categories{    
    margin-left: 35px;
}
.blogs_published:before, .blogs_categories:before{
    position: absolute;
    display: inline;
    content: '.';
    color: #555555;
    left:-18px;
    top:-5px;
    font-weight: bold;
}
.blogs__item--social--link,.blog__header--social--link{
    color:#555555;
    text-transform: uppercase;
    font-size: 81.25%;
    padding: 13px 10px;
    margin-right: 5px;
    background:#f2f2f2;
    display: inline-block;
    margin-bottom: 30px;
}
.blog__header--social--link{
    margin-bottom: 50px;
}
.blog-single__banner{
    width:100%;
    margin-bottom: 50px;
}
.blogs__item--social--link .fa, .blog__header--social--link .fa{
    margin-left:25px;
    font-weight: bold;
}
.fa-facebook{
    color:#3b5998;
}
.fa-twitter{
    color:#00aced;
}
.fa-google-plus{
    color:#d34836;
}
.fa-pinterest{
    color:#c92329;
}
.blogs__item--description{
    color:#555555;
    font-size: 112.5%;
    line-height: 150%;
    margin-bottom: 55px;
}
.blogs__item--readMore{
    padding: 15px 40px;
    text-transform: uppercase;
    color:#ffffff;
    background:#b2d234;
    display: inline-block;
}
.blog-single__description{
    color:#555555;
    font-size: 125%;
    line-height: 125%;
    margin-bottom: 35px;
    vertical-align: bottom;
}
.privacy__header--heading{
    color:#b2d234;
    text-transform: uppercase;
    font-size: 375%;
    padding: 90px 0 60px 0;
}
.privacy__header--updatedAt,.privacy__header--intro,
.privacy__content--header,.privacy__content--desc{
    margin-bottom: 50px;
    color:#555555;
    font-size: 112.5%;
    line-height: 125%;
}
.privacy__content--header{
    font-weight: bold;
}
.blog-comments__heading{
    font-size: 112.5%;
    color:#b2d234;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.blog-comment_by{
    color:#b2d234;
    font-style: 112.5%;
    margin-bottom: 15px;
}
.blog-comment_on{
    color:#a6a6a6;
    font-size: 93.75%;
    margin-bottom: 45px;
}
.blog-comment__comment{
    color:#555555;
    font-style: 112.5%;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 45px;
}
.blog-comment__reply{
    color:#b2d234;
    font-style: 112.5%;
    margin-bottom: 30px;
    display: inline-block;
}
.blog-comment{
    border-bottom: 1px solid #f8f7f7;
    padding-top: 45px;
    margin-bottom: 45px;
}
.blog-comment__Nopadding{
    padding-top: 0px;
}
.leave-a-comment__name, .leave-a-comment__email{
    height: 70px;
    border-radius: 5px;
    background:#f8f8f8;
    border:none;
}
.leave-a-comment__comment{
    height: 230px !important;
    border-radius: 5px;
    background:#f8f8f8;
    border:none;
}
.leave-a-comment__submit{
    color:#fff;
    font-size: 100%;
    text-transform: uppercase;
    padding:10px 50px;
    border:none;
    background:#b2d234;
}
.leave-a-comment__heading{
    color: #555555;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 35px;
}































